* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Fira Code', monospace;
  background-color: #121212;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

#clock {
  width: 100%;
  height: 35%;
  color: #FFCE54;
}

#current {
  width: 100%;
  height: 30%;
  color: #AC92EB;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.horiz-end {
  margin-left: auto;
}

.icon {
  height: 10vh;
}

#temp {
  width: 50%;
  white-space: nowrap !important;
}

#describe {
  width: 25%;
  height: 75%;
  text-align: right;
  white-space: nowrap !important;
}

#forecast {
  display: flex;
  flex-direction: row;
  height: 35%;
  width: 100%;
}

.day {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
}

.date {
  height: 10%;
  width: 100%;
  text-align: center;
}
/*
.daily-temp {
  width: 55%;
  height: 100%;
}

.daily-icon {
  height: 95%;
}
*/
.incr {
  height: 45%;
  width: 100%;
}

.no-wrap {
  white-space: nowrap !important;
}

#day-1 {
  color: #AC92EB;
}

#day-2 {
  color: #4FC1E8;
}

#day-3 {
  color: #A0D568;
}

#day-4 {
  color: #FFCE54;
}

#day-5 {
  color: #ED5564;
}

#month-year {
  height: 13%;
  width: 100%;
  text-align: center;
  color: #4FC1E8;
}

#day-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 9%;
  width: 100%;
  color: #4FC1E8;
}

#day-labels .textfitted {
  display: contents;
}

.day-name {
  height: 100%;
  width: 14%;
}

.week {
  height: 13%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.week-day {
  height: 100%;
  width: 14%;
}

.not-today {
  color: #A0D568;
}

.today {
  color: #ED5564;
  border: 2px solid #ED5564;
}